.row{
    background-color: lavender;
}
#Data{
    background-color: plum;
}
#Data1{
    background-color: orange;
}
#Data2{
    background-color: greenyellow;
}
#Data3{
    background-color: darksalmon;
}
#Data4{
    background-color:darkseagreen;
}