  *{
     background-color: lavender;
    }
    #name{
        color: darkseagreen;
        }
    .Head{
            color:dimgrey;
        }
    .Heading{
            color:chocolate;
        }